@model Tuple<List<DoubleTFurniture.Models.Category>, List<DoubleTFurniture.Models.Product>>
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
<!-- trending section -->

<section class="trending_section layout_padding">
    <div id="accordion">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                Trending Categories
                            </h2>
                        </div>
                        <div class="tab_container">
                            @foreach (var item in Model.Item1)
                            {
                                <div class="t-link-box" aria-expanded="false" data-toggle="collapse" data-target="#collapse-@item.madanhmuc"
                                     aria-controls="collapse-@item.madanhmuc">
                                    <div class="number">
                                        <h5>
                                            @item.madanhmuc
                                        </h5>
                                    </div>
                                    <hr>
                                    <div class="t-name">
                                        <h5>
                                            @item.tendanhmuc
                                        </h5>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="collapse show" id="collapse-1" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="img_container ">
                            <div class="box b-1">
                                <div class="img-box">
                                    <img src="~/images/ban1.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="~/images/ban2.jpg" alt="">
                                </div>
                            </div>
                            <div class="box b-2">
                                <div class="img-box">
                                    <img src="~/images/ban3.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="~/images/ban4.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="collapse-2" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="img_container ">
                            <div class="box b-1">
                                <div class="img-box">
                                    <img src="~/images/ghe1.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="~/images/ghe2.jpg" alt="">
                                </div>
                            </div>
                            <div class="box b-2">

                                <div class="img-box">
                                    <img src="~/images/ghe3.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="~/images/ghe4.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="collapse-3" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="img_container ">
                            <div class="box b-1">
                                <div class="img-box">
                                    <img src="~/images/sofa1.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="~/images/sofa2.jpg" alt="">
                                </div>
                            </div>
                            <div class="box b-2">
                                <div class="img-box">
                                    <img src="~/images/sofa3.png" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="~/images/sofa4.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="collapse-4" aria-labelledby="headingfour" data-parent="#accordion">
                        <div class="img_container ">
                            <div class="box b-1">
                                <div class="img-box">
                                    <img src="~/images/giuong1.jpg" alt="">
                                </div>

                                <div class="img-box">
                                    <img src="~/images/giuong2.jpg" alt="">
                                </div>
                            </div>
                            <div class="box b-2">
                                <div class="img-box">
                                    <img src="~/images/giuong3.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="~/images/giuong4.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

<!-- end trending section -->
<!-- discount section -->

<section class="discount_section  layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <h2>
                        The Latest Collection
                    </h2>
                    <h2 class="main_heading">
                        50% DISCOUNT
                    </h2>

                    <div class="">
                        <a href="">
                            Buy Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="images/discount-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>


<!-- end discount section -->
<!-- brand section -->

<section class="brand_section">
    <div class="container">
        <div class="heading_container">
            <h2>
                Featured Brands
            </h2>
        </div>
        <div class="brand_container layout_padding2">
            @foreach (var item in Model.Item2)
            {
                <div class="box">
                    <a href="~/User/details?masp=@item.masanpham">
                        <div class="img-box">
                            <img class="himg" src="~/images/@item.hinhanh" alt="">
                        </div>
                        <div class="detail-box">
                            <h6 class="price">
                                $@item.gia
                            </h6>
                            <h6>
                                @item.tensanpham
                            </h6>
                        </div>
                    </a>
                </div>
                if (item.masanpham == 4)
                {
                    break;
                }
            }
        </div>
        <a class="seemore" href="~/User/shop">
            See more
        </a>

    </div>
</section>
@if (TempData.ContainsKey("alert"))
{
    <script>alert('@TempData["alert"]')</script>
}
<!-- end brand section -->
